<header>
    <div class="navigation">
        <section class="layout">
            <ul class="nav">
                <li><a href="/"><i class="icon-home"></i> Home</a></li>
                <li><a href="/developers"><i class="icon-user"></i> Developers</a></li>
                <li><a href="/#"><i class="icon-user"></i> Contact</a></li>
            </ul><!-- nav -->
        </section><!-- layout -->
    </div><!-- navigation -->
</header>