<article id="getbusy">
  <h1>What is Bluemix?</h1>
  <p>IBM Bluemix is a cloud platform as a service (PaaS) developed by IBM. It supports several programming languages and services as well as integrated DevOps to build, run, deploy and manage applications on the cloud. Bluemix is based on Cloud Foundry open technology and runs on SoftLayer infrastructure.</p>
  <p>IBM Bluemix is a cloud platform as a service (PaaS) developed by IBM. It supports several programming languages and services[1] as well as integrated DevOps to build, run, deploy and manage applications on the cloud. Bluemix is based on Cloud Foundry open technology and runs on SoftLayer infrastructure. Bluemix supports several programming languages[2] including Java, Node.js, Go, PHP, Python, Ruby Sinatra, Ruby on Rails and can be extended to support other languages such as Scala[3] through the use of buildpacks.[4]</p>
</article><!-- article -->