<article id="whoarewe">
  <h1>Developer Life</h1>
    <p>
        A developer advocate is someone who's primary responsibility is to make it easy for developers to use a platform. In my case, I'm trying to make it easy for developers to use OpenStack and the Rackspace Open Cloud. I view the role as having a foundation of three pillars: development, advocacy, and community
    </p>

</article><!-- article -->